<header class="site-header" role="banner">

  <div class="wrapper">
      <nav class="site-nav">
        <div class="trigger">
          <a class="page-link" href="https://www.toptal.com/resume/nikolay-belokolodov#hire-the-top-contractors">Hire me</a>
          <a class="page-link" href="https://www.linkedin.com/in/travelerspb/">LinkedIn</a>
          <a class="page-link" href="https://github.com/travelerspb">Github</a>
          <a class="page-link" href="https://stackoverflow.com/users/1920508/traveler">Stackoverflow</a>
        </div>
      </nav>
  </div>
</header>
